
@{
    ViewBag.Title = "collin";
}
<head>
    <link rel="stylesheet" href="~/wwwroot/css/personal.css" />
</head>

<h2>collin</h2>
<h3>Bibliography</h3>
<p>
    I come from Limpopo and I matriculated at Magalanngwe Secondary School. I am studying Mechanical Engineering.
    I chose this dregree because I  am fascinated with how machines specicifally the hardware part is made to operate.
    How all the building blocks are added together to create an amazing project
</p>

<h3>Hobbies</h3>
<p>My hobbies include fixing broken materials and electronics, watching how cars are made</p>

<h3>Modules</h3>
<p>
    first Semester: WTW 234, WTW 225, MOW 213, MVX 226
    Second Semester:  WTW 267, MOW 223, MVX 278
</p>

