
@{
    ViewBag.Title = "lugisani";
}
<head>
    <link rel="stylesheet" href="~/wwwroot/css/personal.css" />
</head>

<h2>lugisani</h2>

<h3>Bibliography</h3>
<p>
    I come from Gauteng and I matriculated at Vuwani Secondary School. I am studying Bachelor of Education.
    I chose this dregree because I had no other passion apart from interacting with children. Education seemed that the best place to start at
</p>

<h3>Hobbies</h3>
<p>My hobbies include singing, planting crops and window shopping for new materials</p>

<h3>Modules</h3>
<p>
    first Semester: JLZ 210, JPS 215, JWT 214
    Second Semester: JLZ 220, JPS 225, JWT 224
</p>

