
@{
    ViewBag.Title = "pricilia";
}
<head>
    <link rel="stylesheet" href="~/wwwroot/css/personal.css" />
</head>


<h2>pricilia</h2>

<h3>Bibliography</h3>
<p>I come from Limpopo and I matriculated at Ridgeway college. I am studying Information and knowledge systems.
     I chose this dregree because I loved coding at a very young age</p>

<h3>Hobbies</h3>
<p>My hobbies include swimming, dancing and singing</p>

<h3>Modules</h3>
<p>first Semester: INF 272, IMY210, JCP 202 
    Second Semester: INF 272, IMY 220, JCP 202, WTW 285</p>