
@{
    ViewBag.Title = "sharon";
}
<head>
    <link rel="stylesheet" href="~/wwwroot/css/personal.css" />
</head>

<h2>sharon</h2>

<h3>Bibliography</h3>
<p>
    I come from Limpopo and I matriculated at Shayandima Secondary School. I am studying Nature Conservation.
    I chose this dregree because I wanted to learn more about animals and how they interact with nature
</p>

<h3>Hobbies</h3>
<p>My hobbies include cooking, baking and spring cleaning the house</p>

<h3>Modules</h3>
<p>
    first Semester: GGY 210, EVS 219, NCS 216
    Second Semester: GGY 220, EVS 229, NSC 226
</p>

