
@{
    ViewBag.Title = "tshilisanani";
}

<head>
    <link rel="stylesheet" href="~/wwwroot/css/personal.css" />
</head>

<h2>tshilisanani</h2>
<h3>Bibliography</h3>
<p>
    I come from Limpopo and I matriculated at Vuwani Secondary Schhol. I am studying Bcom Law
    I chose this dregree because I believe in justice. And I believe that those with money must
    not have an influence to justice through curruption
</p>

<h3>Hobbies</h3>
<p>My hobbies include plaiting, taking walks and singing</p>

<h3>Modules</h3>
<p>
    first Semester: BSL 210, CLS 268, BOR 218
    Second Semester: BSL 230, CLS 278, BOR 228
</p>

